
.Header {
  height: 2.5rem;
  background-color: #FF5722;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.L-div {
  flex: 1;
  padding-left: 0.90909rem

}

.C-div {
  flex: 2;
  text-align: center;
}

.R-div {
  flex: 1;
  padding-right: 0.90909rem

}

.title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  font-weight: bolder;
}

.L-title {
  font-size: 2.0rem;
  flex: 1;
  line-height: 2.0rem;
  color: #fff;
  font-weight: bold;
}

