.root{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  background-color: #aaa;
}
.flex{
  flex:1
}
.body{
}
.button{
  width: -webkit-fill-available;
  margin-left: 0.909090rem;
  margin-right: 0.909090rem;
  margin-top: 0.90909rem;
  height:2.5rem;
  font-size: 0.9697rem;
}
.backcolor1{
  background-color: #FF5722;
  color: #fff;
}


